

.adminProductAdd-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  background-color: rgba(105, 104, 102, 0.28);
  border: 2px solid var(--secondary);
  border-radius: 4px;
}

#productDetails-container {
  margin-left: 1rem;
}

#products-container {
  max-width: 50vw;
  border: 2px solid var(--secondary);
  border-radius: 4px;
}

#singleProduct {
  display: flex;
  align-items: center;
  border: 2px solid var(--bright);
  border-radius: 6px;
  gap: 1rem;
}

#singleUser {
  display: flex;
  align-items: center;
  border: 2px solid var(--bright);
  border-radius: 6px;
  gap: 1rem;
  padding: 0.5rem 0 0.5rem 0.5rem;
}

.orderContainer {
  display: flex;
  align-items: center;
  border: 2px solid var(--bright);
  border-radius: 6px;
  color: var(--secondary);
  gap: 1rem;
  padding: 1rem 0 1rem 1rem;
  background-color: rgba(105, 104, 102, 0.28);
}

.order-completed {
  background-color: rgba(211, 239, 211, 0.89);
}

.order-ongoing {
  background-color: rgba(248, 201, 201, 0.89);
}

.orderContainer p {
  margin: 0;
}

#singleUser img {
  border-radius: 6px;
  width: 50px;
  height: 50px;
}

#adminProdBtn-control {
  display: flex;
  width: 8rem;
  height: 100%;
}

#adminContainer h1 {
  margin-top: 0;
  padding-top: 0.5rem;
  display: flex;
  justify-content: center;
}

#adminNav {
  justify-content: center;
  display: flex;
  gap: 0.5em;
  padding-bottom: 1em;
}

#adminNav button {
  background-color: #4588a8;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
}

#adminNav button:hover {
  background-color: var(--highlight);
}
.error p {
  color: red;
}

#adminInputs{
  height: auto;
}

#adminSearch {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  padding-bottom: 1em;
}

.addUser-container h5 {
  margin-top: 0;
  display: flex;
  justify-content: center;
}

.addUser-container label {
  margin-top: 0.5rem;
}

.addIngredient-container label {
  margin-top: 0.5rem;
}

#userBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

#productHeader {
  display: flex;
  justify-content: center;
  align-items: center;
}

#adminProductContent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin: 0 5vw 0 5vw;
}

#ingredientContent {
  margin: 0 5vw 0 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

#addIngredient-container {
  display: flex;
  flex-direction: column;
  background-color: rgba(105, 104, 102, 0.28);
  border: 2px solid var(--secondary);
  border-radius: 4px;

  padding: 2rem 2rem 1rem 2rem;
}

#addIngredient-container h5 {
  margin-top: 0;
  display: flex;
  justify-content: center;
}

#order-container {
  border: 2px solid var(--secondary);
  border-radius: 4px;
}

#orderContent {
  margin: 0 5vw 0 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

#userBox {
  margin: 0 5vw 0 5vw;
  gap: 3em;
}

.addProduct-container {
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.addProduct-container label {
  margin-top: 0.5rem;
}

.addProduct-container h5 {
  margin-top: 0;
}

.addUser-container {
  display: flex;
  flex-direction: column;
  background-color: rgba(105, 104, 102, 0.28);
  border: 2px solid var(--secondary);
  border-radius: 4px;
  padding: 2rem 2rem 1rem 2rem;
}

.adminContentControl {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-height: 55vh;
  background-color: var(--bg);
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 0;
}

#ingredients-container {
  border: 2px solid var(--secondary);
  border-radius: 4px;
}

#singleIngredient {
  display: flex;
  align-items: center;
  border: 2px solid var(--bright);
  border-radius: 6px;
  gap: 1rem;
}

#singleIngredient h5 {
  margin: 1rem 0 1rem 1rem;
}

.singleIngredientControl {
  margin: 1rem;
}

#order-container p {
  margin-top: 0;
}

.adminContentControl h5 {
  margin-top: 0;
}

#adminIngredientsSubAdd p {
  margin-top: 0;
}

.adminContainer {
  background-color: rgba(105, 104, 102, 0.28);
}

.containerBtn {
  border: none;
}

.containerBtnSingle {
  width: 100%;
  border: none;
}

#adminIngredientsSubAdd {
  border-radius: inherit;
  background-color: rgba(84, 83, 81, 0.28);
  max-height: 40vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.adminBtn {
  margin-top: 0.5rem;
  background-color: #4588a8;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
}

.adminBtn:hover {
  background-color: var(--highlight);
}

#deleteButton {
  background-color: #e5d8d8;
}

#deleteButton:hover {
  background-color: #e1a2a2;
}

#updateButton {
  background-color: #b4c4b4;
}

#updateButton:hover {
  background-color: #98af98;
}

#singleProduct img {
  margin: 0.5rem 0 0.5rem 0;
  width: 50px;
  height: 50px;
  border-radius: 6px;
}

#singleProduct h5 {
  margin: 1rem 0 1rem 1rem;
}

.prodTitle {
  min-width: 5vw;
  width: 10vw;
}

.prodImg {}

.prodPriceDiv {
  min-width: 5vw;
  width: 5vw;
}

.prodAllergy {
  min-width: 13vw;
  width: 15vw;
}

.adminProdBtn-control {
  margin: auto;
}

.adminProdBtn-control button {
  width: 80%;
  margin-right: 20%;
}

.userEmail {
  min-width: 5vw;
  width: 10vw;
}

#singleUser h5 {
  margin: 1rem 0 1rem 1rem;
}

.userAddress {
  min-width: 5vw;
  width: 10vw;
}

.userRole {
  min-width: 5vw;
  width: 10vw;
}

#users-container {
  border: 2px solid var(--secondary);
  border-radius: 4px;
}

.ingNameDiv {
  min-width: 5vw;
  width: 10vw;
}

.ingCalDiv {
  min-width: 5vw;
  width: 10vw;
}

.ingAllergyDiv {
  min-width: 5vw;
  width: 10vw;
}

.orderAddressDiv {
  min-width: 5vw;
  width: 10vw;
}
.orderDateDiv {
  min-width: 20vw;
  width: 20vw;
}
.orderTypeDiv {
  min-width: 5vw;
  width: 10vw;
}
.orderStateDiv {
  min-width: 5vw;
  width: 12vw;
}
