body {
  font-family: sans-serif;
  background-color: var(--primary);
  height: auto;
  overflow-x: hidden;
}

#form {
  min-width: 250px;
  background-color: rgba(128, 126, 123, 0.28);
  width: 30vw;
  margin: 30vh auto 0 auto;
  padding: 20px;
  border-radius: 4px;
  font-size: 12px;
}

#profileForm {
  min-width: 250px;
  background-color: rgba(128, 126, 123, 0.28);
  width: 30vw;
  margin: 15vh auto 0 auto;
  padding: 20px;
  border-radius: 4px;
  font-size: 12px;
}

#form h1 {
  color: var(--highlight);
  text-align: center;
}

.defaultBtn {
  background-color: var(--highlight);
  padding: 8px;
  margin-top: 5px;
  width: 100%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.defaultBtn:hover {
  background-color: #4588a8;
}

.delete {
  background-color: var(--highlight);
  padding: 10px;
  margin-top: 10px;
  width: 100%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.delete:hover {
  background-color: #4588a8;
}

.custom-file-upload {
  padding: 10px;
  display: inline-block;
  background-color: var(--highlight);
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.custom-file-upload:hover {
  background-color: #4588a8;
}

#profileHeader {
  margin: 0;
  display: flex;
  justify-content: center;
}

#profilePicture {
  max-width: 150px;
  max-height: 150px;
  border-radius: 50%;
  padding: 20px;
}

.pfp {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 5px;
  box-sizing: border-box;
}

.input-control {
  display: flex;
  flex-direction: column;
  padding-right: 20px;
  padding-top: 10px;
}

.input-control input {
  display: block;
  font-size: 12px;
  padding: 10px;
  width: 100%;
}

.alreadyUser {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.alreadyUser {
  margin-top: 10px;
}

.alreadyUser p,
.alreadyUser a {
  margin: 0;
  padding: 5px;
}

.alreadyUser a {
  color: var(--highlight);
  text-decoration: none;
}

.alreadyUser a:hover {
  color: #4588a8;
}

.error p {
  margin-top: 0;
  color: red;
}

.input-control label {
  padding-bottom: 2px;
}

.modal {
  background-color: whitesmoke;
  top: 50vh;
}

.modal button {
  width: 100%;
}

.modal h2 {
  display: flex;
  justify-content: center;
}
