#cart-order h2{
  font-family: "Josefin Sans", sans-serif;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  box-sizing: border-box;
}

.input-control {
  display: flex;
  flex-direction: column;
  padding-top: 5px;
}

.input-control input {
  display: block;
  font-size: 12px;
  padding: 5px;
  width: 100%;
}

.input-control select {
  display: block;
  font-size: 12px;
  padding: 5px;
  width: 100%;
}

#orderBtn {
  display: block;
  font-size: 12px;
  padding: 5px;
  width: 100%;
  margin-top: 0.5rem;
}

.error p {
  margin: 0;
  color: red;
  font-size: 0.9rem;
}

main {
  display: flex;
}

html {
  overflow-y: hidden;
}

.orderBtn-control {
  display: flex;
}

.orderBtn-control button {
  height: 100%;
}

#cart-order {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  width: 80%;
  margin: 0 auto;
  box-shadow: inset 0 -7px 20px rgba(0,0,0,0.5);
  height: 86vh;
  overflow-y: auto;
}

#info-order h2{
  justify-content: start;
  font-family: "Josefin Sans", sans-serif;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}

#total-cost{
  font-family: "Josefin Sans", sans-serif;
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 20px;
}

#cart-items{
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin: 1vh auto 0;
  height: auto;
}

.cart-item{
  padding: 0.5rem;
  background-color: rgba(228, 229, 231, 0.55);
  border: solid 2px var(--secondary);
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-bottom: 20px;
  height: 5rem;
}

.cart-item img{
  display:block;
  width: 5rem;
  height: 5rem;
  border-radius: 5%;
  margin-right: 20px;
  object-fit: cover;
}

.cart-item h3{
  margin: 4px;
  width: 10rem;
  font-weight: normal;
}

.price {
  font-size: 20px;
  margin-left: 4px;
  width: 5rem;
  font-weight:lighter;
}

.quantity{
  font-size: 30px;
  margin-left: 2rem;
  width: 10rem;
  font-weight: lighter;
}

#info-order h2{
  display: flex;
  justify-content: start;
  font-family: "Josefin Sans", sans-serif;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}

#info-order{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  background-color: var(--primary);
  width: 20%;
}

.toolTip {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.toolTip .toolTipText {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px 0 5px;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.toolTip .toolTipText::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.toolTip:hover .toolTipText {
  visibility: visible;
}

#infoDiv {
  display: flex;
  align-items: center;
}

#infoDiv.empty {
  visibility: hidden;
  height: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
