#cart-order h2{
  font-family: "Josefin Sans", sans-serif;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}

#header {
  max-width: 100vw;
}

.nav {
  max-width: 100vw;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  box-sizing: border-box;
}

.input-control {
  display: flex;
  flex-direction: column;
  padding-top: 5px;
}

.input-control input {
  display: block;
  font-size: 12px;
  padding: 5px;
  width: 100%;
}

.input-control select {
  display: block;
  font-size: 12px;
  padding: 5px;
  width: 100%;
}

#orderBtn {
  display: block;
  font-size: 12px;
  padding: 5px;
  width: 100%;
  margin-top: 0.5rem;
}

.error p {
  margin: 0;
  color: red;
  font-size: 0.9rem;
}

#cart-order {
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 20px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  width: 100%;
  margin: 0 auto;
  height: 40vh;
  box-shadow: inset 0 -7px 20px rgba(0,0,0,0.5)

}

#info-order h2{
  justify-content: start;
  font-family: "Josefin Sans", sans-serif;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}

#info-order{
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 20px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  background-color: var(--primary);
  width: 100%;
  height: 40vh;
}

