#cart-order h2{
  font-family: "Josefin Sans", sans-serif;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}

#total-cost{
  font-family: "Josefin Sans", sans-serif;
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 20px;
}


#cart-order {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  width: 100%;
  margin: 0 auto;
  height: auto;
  box-shadow: inset 0 -7px 20px rgba(0,0,0,0.5);
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;

}


#cart-items{
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin: 1vh auto 0;
  height: auto;


}

.cart-item{
  display: flex;
  justify-content: space-evenly;
  font-family: "Josefin Sans", sans-serif;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
  height: 5rem;
}

.cart-item img{
  display:block;
  width: 5rem;
  height: 5rem;
  border-radius: 5%;
  margin-right: 20px;
}

.cart-item h3{
  font-size: 30px;
  margin: 4px;
  width: 10rem;
  font-weight: normal;
}

.price{
  font-size: 20px;
  margin-left: 20px;
  width: 5rem;
  font-weight:lighter;
}
.quantity{
  font-size: 30px;
  margin-left: 2px;
  width: 10rem;
  font-weight: lighter;
}




#info-order h2{
  display: flex;
  justify-content: start;
  font-family: "Josefin Sans", sans-serif;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}

#info-order{
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 20px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  background-color: var(--primary);
  width: 100%;
  height: 40vh;
}

