@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400;700&display=swap');
.josefin-sans-thin {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 100;
}

.josefin-sans-light {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
}

.josefin-sans-normal {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
}

.josefin-sans-bold {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
}


body{
  --highlight: #65AFD1ff;

  --secondary: #484538ff;

  --primary: #f2f4f3ff;

  --bg: #effaf4;

  --text: #171717;

  background: var(--bg);
  color: var(--text);
  margin: 0;
  padding: 0;

}

main{
  margin-top:14vh;
}

.logo:hover{
  filter: invert(1);
}

.logo{
  display: block;
}

.header{
  background-color: var(--primary);
  color: var(--primary);
  text-align: center;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
  position: fixed;
  z-index: 200;
  width: 100%;
  top: 0;
}


.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vh;
  height: 10vh;
}

.nav a:hover{
  background-color: var(--secondary);
  color: var(--highlight);
}
.nav a{
  color: var(--secondary);
  background-color: var(--highlight);
  text-decoration: none;
  font-weight: bold;
  padding: 0.5rem 1rem 0.5rem 1rem ;
  border-radius: 2vw;
  margin: 1vw;
  font-size: 25px;

  font-family: "Josefin Sans", sans-serif;
}

.nav-right{
  display: inline-flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;

}
.nav-right a{
  color: var(--secondary);
  background-color: var(--highlight);
  text-decoration: none;
  font-weight: bold;
  padding: 0.5vw 1vw 0.5vw 1vw;
  border-radius: 10vw;
  margin: 0.1vw;
  scale: 1;
  font-size: 15px;
  font-family: "Josefin Sans", sans-serif;
}



.logo-container a{
  all:initial;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  width: auto;
  color: var(--primary);

  cursor: pointer;
}
.logo-container a:hover{
  all:initial;

}

.good{
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  font-size: 20px;
}
.good:hover{
  color: var(--primary);
  background-color: var(--highlight);
}

.bad{
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  font-size: 20px;
}
.bad:hover{
  color: var(--primary);
  background-color: #f35555;
}


.verybad{
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.verybad:hover{
  color: var(--primary);
  background-color: red;
}

#cart-amount {
  position: absolute;
  background-color: #4588a8;
  color: var(--primary);
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 0.75rem;
  font-weight: bold;
}


