@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400;700&display=swap');
.josefin-sans-thin {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 100;
}

.josefin-sans-light {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
}

.josefin-sans-normal {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
}

.josefin-sans-bold {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
}


body{
  --highlight: #65AFD1ff;

  --secondary: #484538ff;

  --primary: #f2f4f3ff;

  --bright: #faf3db;

  --bg: #effafa;

  --text: #171717;

  background: var(--bg);
  color: var(--text);
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;

}

main{
  margin-top:14vh;
}

.logo:hover{
  filter: invert(1);
}

.logo{
  display: block;
}

.header{

  background: var(--primary);
  text-align: center;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
  position: fixed;
  z-index: 200;
  width: 100%;
  top: 0;
}


.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vh;
  height: 10vh;
}

.nav a:hover{
  background-color: var(--secondary);
  color: var(--highlight);
}
.nav a{
  color: var(--secondary);
  background-color: var(--highlight);
  text-decoration: none;
  font-weight: bold;
  padding: 0.5rem 1rem 0.2rem 1rem ;
  border-radius: 2vw;
  margin: 1vw;
  font-size: 25px;

  font-family: "Josefin Sans", sans-serif;
}

.nav-right{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}
.nav-right a{
  color: var(--secondary);
  background-color: var(--highlight);
  text-decoration: none;
  font-weight: bold;
  padding: 0.5rem 1rem 0.3rem 1rem;
  border-radius: 10vw;
  margin: 0.1vw;
  scale: 1;
  font-size: 15px;
  font-family: "Josefin Sans", sans-serif;

}

.profileDropdownDiv{
  position: relative;
  display: flex;

}

.login-button{
  cursor: pointer;
}

.dropdown{
  display: none;
  position:absolute;
  background-color: transparent;
  width: 5rem;

  border-radius: 1.1rem;
  z-index: 1;
  top: 100%;
  flex-direction: column;

}

.logout-button{
  display: none;
}

.logout-buttonVisible{
  display: flex;
  cursor: pointer;
}




#cartNav{
  font-size: 0;
  position: relative;
  display: flex;

}

#cartNav span{
  z-index: 1;
  top: 2px;

}
#cart-button{

}

.cart-image{
  display: flow;
  position: relative;

  width: 1rem;
  color: currentColor;

  scale: 1.8;
}

.cart-image:hover{
  color: var(--highlight);
}




.logo-container a{
  all:initial;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  width: auto;
  color: var(--primary);

  cursor: pointer;
}
.logo-container a:hover{
  all:initial;

}

.good{
  background-color: gainsboro;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  font-size: 20px;
  border-radius: 5px;
  border-color: transparent;
  transition: color 0.2s;
}
.good:hover{
  color: var(--primary);
  background-color: var(--highlight);
}

.bad{
  background-color: gainsboro;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  font-size: 20px;
  border-radius: 5px;
  border-color: transparent;
  transition: color 0.2s;


}
.bad:hover{
  color: var(--primary);
  background-color: #f35555;
}


.verybad{
  background-color: gainsboro;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  font-size: 20px;
  border-radius: 5px;
  border-color: transparent;
}

.verybad:hover{
  color: var(--primary);
  background-color: red;
}

#cart-amount {

  position: absolute;
  background-color: #4588a8;
  color: var(--primary);
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 0.75rem;
  font-weight: bold;
}



#theme-nav{
  font-size: 0;
  position: relative;
  display: flex;
}

#theme-nav {
  z-index: 1;

}

#theme-icon svg{
  height: 2rem;
  width: 2rem;
  fill: var(--secondary);
  color: var(--highlight);
  transition: 0.5s;
}

#theme-icon svg:hover{
  scale: 1.2;

}


.amountRegulator{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 5rem;
  margin: auto;

}
